

// Custom Mixins
@mixin parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


// Custom Variables
$main-font: 'raleway', sans-serif;
$alt-grey: #606060;


#section-1-wrapper {
  width: 100%;
  height: auto;
  //z-index: -99;
  #image-wrapper {
    width: 100%;
    height: 100%;
    .your-class img {
      width: 100%;
      max-width: 100%;
      max-height: 1150px;
      height: auto;
    }
  }
  #navigation-wrapper {
    width: 100%;
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    li {
      font-family: 'raleway', sans-serif;
      font-weight: 600;
    }
  }
  #section-1-title {
    text-align: center;
    margin: auto;
    position: absolute;
    width: 670px;
    height: 40%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    h1 {
      font-size: 5em;
      color: #FFFFFF;
      font-family: 'raleway', sans-serif;
    }
  }
}

// Changes dropdown submenu background colour
.dropdown.menu > li.opens-left > .is-dropdown-submenu {
  background-color: $dark-gray;
}


// Changes 'Active' class colour
.menu .active > a {
  color: $green;
}

ul.dropdown.menu > li a:hover {
  color: $green;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}



.top-bar {
  background: none;
}
.top-bar-left {
  padding-top: 5px;
}

.dropdown.menu {
  background: none;
  li a {

      font-size: 22px;
  }
}


#button-sign {
  color: #FFFFFF;
  border: 2px solid #1fd395;
  font-size: 20px;
  border-radius: 3px;
  padding: 10px;
  font-weight: 600;
  &:hover {
    color: $green;
  }
}

.button-group {
  opacity: 0.8;
  font-family: 'raleway', sans-serif;
  font-weight: 600;
}


#button-text-style {
  background-color: #2ab383;
  font-size: 28px;
  border-radius: 3px;
  border: 0;
  margin: 15px;
  width: 25%;
  font-family: $main-font;
  font-weight: 600;
  padding-right: 100px;
}

#button-text-style::after {
  background-color: #313231;
  width: 20%;
  border-radius: 3px;
}



.btn-wrapper {
  text-align: center;
  height: 15%;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 350px;
}

/* Section 2 Styling */

#section-2-wrapper {
  width: 100%;
  height: auto;
  padding-top: 60px;

  .row {
    padding-bottom: 10px;
    width: 75%;
  }
}

.row .section-2-title {
  font-size: 4.8em;
  color: #313231;
  font-family: 'raleway', sans-serif;
  margin-bottom: 40px;
}


.bold-title {
  font-weight: 700;
}

.bolder-title {
  font-weight: 900;
}

span.badge {
  margin: 10px;
}

.row .about-left-text {
  margin-top: 20px;
  font-family: $main-font;
  h3 {
    color: #24be88;
    font-size: 26px;
    font-weight: 900;
  }
}

.row .about-right-text {
  margin-top: 20px;
  font-family: $main-font;
  h3 {
    color: #24be88;
    font-size: 26px;
    font-weight: 900;
  }
}


/* Section 3 Styling */

#section-3-wrapper {
  width: 100%;
  height: 600px;
  max-height: 700px;
  padding-top: 60px;
  margin-top: 8em;
  background-image: url("../img/3/parallax-section.jpg");
  @include parallax;
}

.row .section-3-title {
  text-align: center;
  font-size: 5em;
  color: #FFFFFF;
  margin-bottom: 30px;
  font-family: 'raleway', sans-serif;
}

#section-3-left {
  font-size: 2em;
  color: $green;
  line-height: 1.8;
}

#section-3-right {
  font-size: 1.1em;
  color: $white;
  font-weight: 600;
  padding-top: 12px;
  line-height: 1.85;
}


/* Section 4 Styling */


#section-4-wrapper {
  width: 100%;
  height: 650px;
  padding-top: 60px;
}

.row .section-4-title {
  font-size: 4em;
  font-family: $main-font;
  line-height: 1.2;
  padding-bottom: 20px;
}

#section-4-wrapper .columns{
  font-family: $main-font;
}

.card {
  border-radius: 4px;
  .card-divider {
    background-color: #313231;
    height: 300px;
    padding-top: 30px;
    p {
      color: #FFFFFF;
      font-weight: 900;
    }
  }
}

.plan-price-text {
  color: $alt-grey;
  font-weight: 600;
  line-height: 1.8;
}

.card-section {
  height: 220px;

// Card Titles i.e. Start Up, Enterprise etc.
  h3 {
    color: $green;
    font-weight: 900;
    font-size: 26px;
    font-family: $main-font;
  }
  // Card Prices
  h2 {
    font-weight: 900;
    font-family: $main-font;
    font-size: 4.2em;
  }
  p {
    font-family: $main-font;
    font-weight: 700;
    font-size: 14px;
  }
}






/* Section 5 Styling */
#section-5-wrapper {
  width: 100%;
  height: 800px;
  background-image: url("../img/5/parallax-section-two.jpg");
  @include parallax;
}



/* Section 6 Styling */
#section-6-wrapper {
  width: 100%;
  height: 900px;
  padding-top: 80px;
  footer {
    color: $alt-grey;
    font-family: $main-font;
    font-weight: 600;
  }
}

.section-6-title {
  font-size: 5.5em;
  font-family: $main-font;
}

.contact-details {

  font-family: $main-font;
  h3 {
    color: $green;
    font-size: 2em;
    font-weight: 900;
    padding: 5px;
    padding-top: 0;
  }
  p {
    color: $alt-grey;
    font-size: 1.8em;
    font-weight: 600;
    padding: 5px;
    padding-top: 0;
    margin-bottom: 10px;
    span {
      margin-right: 25px;
      font-size: 1.4em;
      vertical-align: middle;
    }
  }
  .open-hours {
    font-size: 1em;
    margin-top: 20px;
  }
}


.contact-form {
  background-color: purple;
  padding-top: 5px;
  input {
    height: 60px;
  }
  textarea {
    height: 200px;
    vertical-align: top;
    padding-top: 0;
    padding: 5px;
  }
  .input-group {
    border-radius: 3px;
  }
}

.input-group-label {
  background-color: #FFFFFF;
  border-right: 0;
  width: 70px;
  font-weight: 600;
  font-family: $main-font;
}
#top-align {
  vertical-align: top;
  padding-top: 10px;
  padding-left: 15px;
}
