body {
  background-image: url("../img/1/slider-1.jpg");
  background-repeat: no-repeat;
  width: auto !important;
  z-index: 0;
  height: auto;
}

#section-1-wrapper {
  height: 800px;
  background-color: yellow;
}
